.button-container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    font-size: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
    background-color: aquamarine;
}

.display {
    width: 400px;
    height: 100px;
    padding-right: 25px;
    margin: 0 auto 50px auto;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}